.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-text {
  padding: 10px;
  font-size: 16px; /* Adjust size as needed */
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Width of the switch */
  height: 34px; /* Height of the switch */
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px; /* Height of the slider */
  width: 26px; /* Width of the slider */
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #000000;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px); /* Adjust based on the size of the slider */
}




/* CSS Overrides go here */

#block-1699916884056 {
  display: none;
}

