.coach-selection-container {
    text-align: center;
    margin-bottom: 20px;
}

.coach-option-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #080400;
    border-radius: 30px;
    background-color: #080400; /* Black background */
    color: #ffffff; /* White text */
    transition: background-color 0.3s ease;
}

.selected-button {
    background-color: #ffffff !important; /* White background */
    color: #080400 !important; /* Black text */
}
/*two-step pop-up forms on website pages*/
#block-1699916884056, #block-1699916941256 {
    display: none;
}
/*Registration landing page */
#block-1700082963385, #block-1700082963385 {
    display: none;
}

/* Add any other necessary CSS for you r page */






/* CUSTOM CSS FOR TESTIMONIAL BOXES */

/* Set the text box's parent to relative positioning */
.block-type--feature .feature__text {
    position: relative;
}



/* Style for the close button */
.close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    z-index: 10; /* Ensure it's above other elements */
}
.read-more-link {
    color: inherit; /* Inherits color from the parent element */
    text-decoration: underline; /* Optional, for a link-like appearance */
    cursor: pointer;
}
/* END OF CUSTOM CSS FOR TESTIMONIAL BOXES */



